
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
body
{
	background:peru;
	font-family: 'Roboto', sans-serif;
}
hgroup h1
{
	font-size: 3em;
}
header
{
	width: 80%;	
	padding: 8px 8px 8px 0;
	border-radius: 0px 50px 50px 0px;
	background:white;
	text-align: center;
}
section
{
	margin: 0 0 0 21%;
	background: grey;
	width: 78%;
}
aside
{
	height: 800px;
	margin: 0 0px 0 0;
	width: 20%;
	float: left;
	background: white;
}
aside nav p
{
	margin: 5px 0px 5px 15px;
	padding: 5px 0px 30px 15px;
	font-size: 1.2em;
}
footer
{
	text-align: center;
	display: inline-block;
	background: white;
	width: 100%;
	float: left;
	margin-bottom: 0px;
}
footer a, footer p
{
	margin: 5px 0 0px 0;
	padding:0 90px 5px 45px;
	display: inline-block;
}
#contenido
{
	margin: 10px;
	padding: 10px;
	background: white;
}